﻿@{
    ViewData["Title"] = "About";
}


<div class="row">
    <div class="background col-md-12">
        <div class="logo">
            <img src="~/images/seed.png" />
        </div>
    </div>
</div>

<div class="row form-group about-content">
    <div class="header">
        <h1>Our origins.</h1>
    </div>
    <div class="col-md-6 col-sm-12" style="text-align: right;">
        <iframe width="426" height="240" src="https://www.youtube.com/embed/r7UB4S8IF9I" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>

    <div class="col-md-6 col-sm-12" style="text-align: left;">
        <iframe width="426" height="240" src="https://www.youtube.com/embed/HkjuEv6Wxcw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
</div>

<style type="text/css">
    .about-content {
        margin-top: 1em;
    }

    .background {
        background-size: cover;
        background-position: center center;
        position: relative;
        height: 8vw;
        min-height: 250px;
        width: 100%;
    }
    .logo {
    }

        .logo > img {
            min-width: 250px;
            width: 27%;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }

    .header h1 {
        font-size: 4.15vw; /*control size of statement*/
        color: black;
        font-family: "Segoe UI Light";
        font-weight: 100;
        letter-spacing: -1px;
        text-align: center;
        opacity: 1;
    }

</style>