﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="background col-md-12">
        <div class="logo">
            <img src="~/images/seed.png" />
        </div>
    </div>
</div>

<address>
    Cookeville<br />
    Tennessee 38506<br />
    P: 931.372.5555
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<style type="text/css">
    .about-content {
        margin-top: 1em;
    }

    h2 {
        text-align: center;
    }

    .background {
        background-size: cover;
        background-position: center center;
        position: relative;
        height: 8vw;
        min-height: 250px;
        width: 100%;
    }

    .logo {
    }

        .logo > img {
            min-width: 250px;
            width: 27%;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }

    address {
        font-size: 20px;
        color: black;
        font-family: "Segoe UI Light";
        font-weight: 100;
        letter-spacing: -1px;
        text-align: center;
        opacity: 1;
    }
</style>
