﻿@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="background col-md-12">
        <div class="logo">
            <img src="~/images/seed.png" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row" id="loginrow">
        <div class="col-sm" id="user">
            <input placeholder="Username" class="form-control" id="user" type="text">
        </div>
        <div class="col-sm" id="pass">
            <input placeholder="Password" class="form-control" id="pass" type="password">
        </div>
        <div class="col-sm" id="loginbutt">
            <input type="button" class="btn btn-warning" value="Login" />
        </div>
    </div>
</div>

<style type="text/css">
    .about-content {
        margin-top: 1em;
    }

    .background {
        background-size: cover;
        background-position: center center;
        position: relative;
        height: 8vw;
        min-height: 250px;
        width: 100%;
    }

    .logo {
    }

        .logo > img {
            padding-top: 30px;
            min-width: 250px;
            width: 27%;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }
    
    #loginrow {
    }

    #user {
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 10px;
        text-align: center;
    }

    #pass {
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    #loginbutt {
        padding-left:47%;
    }
</style>
